.product-section {
    max-width: 1000px;
    margin: 40px auto;
    border: 1px transparent;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
h2 {
    font-size: 2.5rem;
    color: #001f3f;
    margin-bottom: 20px;
}
p{
    font-size: 1.1rem;
    
}